.main-heading {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-align: center;
}
.fonts-img {
  height: 600px;
}

.desc-text {
  font-family: "Monteserrat", sans-serif;
  font-weight: 400;
}
